.main {
  display: flex;
}
.controlbutton {
  display: flex;
  justify-content: center;
}
.controlbutton button {
  margin: 10px 5px;
  padding: 10px;
  background: #D3F8FD;
  border-radius: 10px;
  border: none;
  opacity: .7
}
.controlbutton button:hover {
  opacity: 1;
}
.siteOuter{
  display: block;
  margin: 0 6% 0 13%;
  flex-direction: column;
}

.site {
  border: solid 2px;
  border-color: #fff;
  max-width: 800px;
  min-width: 180px;
  margin: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  float: left;
  justify-content:flex-start;
  background-color: #CFCED5;
  transition: all ease .3s;
}
.site label {
  font-size: .9rem;
}

.site:hover {
  transition: all ease .3s;
  background-color: #96A9CA;
  cursor: pointer;
  color: #fff;
  transform: scale3d(1.1, 1.1, 1.1);
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index:3;
  cursor: pointer;
}
.dropcontent {
  background-color: #ffffff;
  border-radius: 25px;
  border: solid 3px;
  border-color: #90B57D;
  background-color: #CFE1DA;
  max-width: 800px;
  position: fixed;
  top:25%;
  padding: 20px;
  cursor: none;
}

.dropAir {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  max-width: 1000px;
  cursor:auto;
  font-size: .843rem;
}

.backCircle {
  opacity: .8;
  background-color: #90B57D;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  clip-path: circle(600px at left top)
}

.backCircle2 {
  opacity: .6;
  background-color: #7EC1F1;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  clip-path: circle(400px at right bottom)
}

.rotateLoading {
  transition: transform 1s;
  transform: rotate(360deg);
}
