body {
  margin: 0;
  padding: 0;
  background: #CFE1DA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px;
  border-color: #fff;
  transition: all ease .3s;
  min-width: 100px;
  min-height: 20px;
  padding: 5px;
  background-color: #AFC29E;
}

input:hover {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all ease .3s;
}

button {
  border: solid 1px;
  border-color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-weight: 700;
  font-size: 1rem;
  opacity: .9;
  transition: all ease .3;
  color: #C7AF99;
}

button:hover {
  opacity: 1;
  transition: all ease .3;
  color: #000;
}

label {
  font-weight: 500;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  display: flex;
  justify-content: center;
  transition: all ease .5;
  width: 100%;
  top:0;
  padding: 5px 0 5px 0;
  /* background-color: #7EC1F1; */
}
.opacityReduce {
  background-color: #fff;
  position: fixed;
  opacity: .3;
  transition: all ease .5;
}

.opacityReduce:hover {
  opacity: 7;
}

#nav a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px;
  text-decoration:none;
  transition: all ease .3;
}

#nav a:hover {
  transition: all ease .3;
  color: #96A9CA;
  text-decoration: underline;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.main {
  display: flex;
}
.controlbutton {
  display: flex;
  justify-content: center;
}
.controlbutton button {
  margin: 10px 5px;
  padding: 10px;
  background: #D3F8FD;
  border-radius: 10px;
  border: none;
  opacity: .7
}
.controlbutton button:hover {
  opacity: 1;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: #96A9CA;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  opacity: .7;
}
.footer:hover {
  opacity: 1;
}

.left {
  text-align: left;
  margin: 50px;
  min-width: 100px;
}

.siteOuter{
  display: block;
  margin: 0 6% 0 13%;
  flex-direction: column;
}

.site {
  border: solid 2px;
  border-color: #fff;
  max-width: 800px;
  min-width: 180px;
  margin: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  float: left;
  justify-content:flex-start;
  background-color: #CFCED5;
  transition: all ease .3s;
}
.site label {
  font-size: .9rem;
}

.site:hover {
  transition: all ease .3s;
  background-color: #96A9CA;
  cursor: pointer;
  color: #fff;
}

.right {
  position: fixed;
  right: 5%;
  bottom:  5%;
  max-width: 60px;
  min-width: 40px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  font-size: 23px;
  font-weight: bold;
  border-radius: 10px;
  opacity: .3;
  z-index: 2;
  cursor: pointer;
}

.right:hover {
  font-style: bold;
  opacity: 0.7;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index:3;
  cursor: pointer;
}
.dropcontent {
  background-color: #ffffff;
  border-radius: 25px;
  border: solid 3px;
  border-color: #90B57D;
  background-color: #CFE1DA;
  max-width: 800px;
  position: fixed;
  top:25%;
  padding: 20px;
  cursor: none;
}

.backCircle {
  opacity: .8;
  background-color: #90B57D;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  clip-path: circle(600px at left top)
}

.backCircle2 {
  opacity: .6;
  background-color: #7EC1F1;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  clip-path: circle(400px at right bottom)
}
